# -- Generic / Misc ----------------------#

.tmp
pids
logs
results
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

# -- Node.js -----------------------------#

node_modules

# -- Bower.io --------------------------- #

bower_components

# -- NPM -------------------------------- #

npm-debug.log
npm-debug.log.*

# -- Common Editors --------------------- #

*~
*#
.DS_STORE
.netbeans
nbproject

# -- IntelliJ / phpStorm / webStorm ----- #

.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml

# -- Common Render / Output Dirs -------- #

out/
dist/bower_components

# -- Unit Tests ------------------------- #

test

# -- Vagrant ---------------------------- #

.vagrant
Vagrantfile
env

# -- CI/CD ------------------------------ #

.travis.yml

# -- Task/Script Runners ---------------- #

scripts
grunt

# -- Other Patterns --------------------- #

auth/*.tar.gz
*.depr.*
*/backup/*
tmp/
depr/
.grunt
